body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: #222222 !important;
    font-size: 1.2rem;
    background-color: white;
}

.nav-link:hover{
    color: #222222 !important;
    opacity: 0.8;
    font-size: 1.3rem;
}

.navbar-nav-direction{
    flex-direction: row-reverse;
}

.f-info{
    color: #222222;
    /* font-size: 1.5rem; */
    height: 8rem;
    display: flex;
    background-color: #ded9d9;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
    /* align-items: ; */
    /* flex-direction: column; */
    
    align-content: space-evenly;
    align-items: space-evenly;
}

.container{
    flex: 1;
}

.navbar-brand img{
    height: 4rem;
}

.d-block{
    height: 35rem !important; 

}

.footer-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.footer-icons div {
    font-size: 1.2rem;
}

.footer-icons div:hover {
    font-size: 1.3rem;
}

.footer-icons div a{
    color: #222222;
    text-decoration: none;
}

.footer-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 1.8rem;
    
}

.company-info p{
    font-size: 1.5rem;
    text-align: justify;
    /* justify-content: space-around; */
    margin: 0 4rem 0 4rem;
    padding: 1rem;
}

.home-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    /* height: 100vh; */
    /* width: auto; */
    padding: 2rem;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-color: white !important;
    border-radius: 2rem;
    /* margin: 1rem; */
    /* width: fit-content; */
    margin: 1rem;
}

.card-style{
   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-img{
    height: 20rem;
    width: 100%;
    /* border-radius: 2rem; */
    margin-top: 1rem;
    border-radius: 2rem;

}

.card-title{
    text-align: center;
}

.product-title{
    text-align: center;
    color: #222222;
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.about-img{
    background:url('../Images/About/img.jpg');
    height: 100vh;
    width: auto;
    position: relative;
    /* align-items: center; */
    margin: auto;
}

.about-title{
    color: black;
    text-align: center;
    /* align-items: center; */

}

.about-vision{
    color: white;
    text-align: center;
    font-weight: 600;
}

.center-bt{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.container-md{
    color: black;
    text-align: center;
    margin-top: 2rem;
    /* margin: auto; */
    /* margin-left: 8rem; */
    /* align-items: center; */
    /* margin-left: auto !important; */
    /* margin: 2rem 0 0 5rem; */
}

.contacts-page{
    align-items: center;
    padding: 2rem;
}




/* .choose-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
     width: 100%;
    align-content: space-evenly;
    align-items: center;
}

.choose-text-items{
    width: 100%;
    width: 80rem; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.choose-text-items{
    text-align: center;
    align-items: center;
    /* font-size: 1.1rem; */
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

/* Media query  for medium size*/


@media screen and (min-width: 480px) and (max-width: 768px){
    .home-page{
        padding: 0rem;
    }

    .navbar-brand img{
        height: 3rem;
    }

    .navbar{
        height: 4rem;
    }

    .nav-link{
        font-size: 1rem;
    }

    .carousel-inner{
        max-height: fit-content;
        object-fit: contain;
        height: 25rem;
    }

    
    .d-block{
        transform:scaleY(0.7)
    }

    .company-info p{
        font-size: 0.9rem;
        margin: 0 1rem 0 1rem;
        padding: 0.5rem;
    }
    
    .footer-icons div {
        font-size: 0.8rem;
    }

    .footer-icons div:hover {
        font-size: 0.9rem;
    }

    .footer-text{
        font-size: 1.1rem;
    }

    .f-info{
        height: 5rem;
    }

     /* About Page */
    .about-img{
        object-fit: contain;
        transform: scaleY(0.7);
    }

    .lead{
        font-size: 0.9rem !important;
    }
    
    .center-bt{
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    .container-md{
        color: black;
        text-align: center;
        margin-top: 1.5rem;
    }

    .choose-text-items{
        text-align: center;
        align-items: center;
        font-size: 0.9rem !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    /* Product Page */

    .card{
        width: 18rem !important;
    }

    .card-img{
        height: 18rem;
    }
}   

/* Media Query for small size */

@media screen and (min-width: 0px) and (max-width: 480px){
    .home-page{
        padding: 0rem;
    }

    .navbar{
        height: 3rem;
    }
    
    .navbar-brand img{
        height: 2rem;
    }

    .nav-link{
        font-size: 0.8rem;
    }

    .carousel-inner{
        object-fit: contain;
    }

    .d-block{
        transform:scaleY(0.5);
    }

    .company-info p{
        font-size: 0.6rem;
        margin: 0 0.5rem 0 0.5rem;
        padding: 0.2rem;
    }
    
    .footer-icons div {
        font-size: 0.6rem;
    }

    .footer-icons div:hover {
        font-size: 0.7rem;
    }

    .footer-text{
        font-size: 0.9rem;
  
    }

    .f-info{
        height: 4rem;
    }

    /* About Page */
    .about-img{
        object-fit: contain;
        transform: scaleY(0.5);
    }

    .lead{
        font-size: 0.7rem !important;
    }
    
    .center-bt{
        font-size: 0.8rem;
        margin-top: 0.7rem;
    }

    .container-md{
        color: black;
        text-align: center;
        margin-top: 1.1rem;
    }

    .choose-text-items{
        text-align: center;
        align-items: center;
        font-size: 0.7rem !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.9rem;
    }

    .card{
        width: 18rem !important;
    }
}   
